{
  "extends": "xo-space",
  "rules" : {
    "yoda" : [0],
    "key-spacing" : [0],
    "no-multiple-empty-lines" : [0],
    "no-multi-spaces" : [0],
    "space-before-function-paren" : [0],
    "padded-blocks" : [0],
    "no-new" : [0],
    "generator-star-spacing" : [0],
    "max-nested-callbacks": [2, {"maximum": 5}],
    "eol-last" : [0],
    "no-trailing-spaces" : [0],
    "no-negated-condition" : [0],
    "quote-props" : [0],
    "require-yield" : [0],
    "camelcase" : [0]
  },
  "env": {
    "mocha": true,
    "browser" : true,
    "node" : true,
    "es6" : true
  }
}
